footer
{
    display: flex;
    background-color: #F2F2F2 ;
    margin-top: 70px;
}

/***contient les titres ainsi que les liens du footer***/
.divBoxFooter
{
    display: flex;
    flex-direction:column ;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 230px;
    margin-bottom: 50px;
}
/***titres footer***/
.h3Footer
{
    font-size: 17px;
}
/***liens footer***/
.lFooter
{
    font-size: 15px;
    margin-bottom: 8px;
}

@media screen and (max-width: 1450px) {
    
   footer
    {
       margin-top: -20px;
    }
    
    }



/*******************************************************************                VERSION TABLETTE                 ***********************************************************************************/
@media screen and (max-width: 992px)
{

footer
{
    margin-top: 20px;
}

.divBoxFooter
{
        margin-left: 50px;
        margin-right: 50px;
}
    
}


/*******************************************************************                VERSION MOBILE                 ***********************************************************************************/



@media screen and (max-width: 768px)
{

footer
{   
    margin-top: 10px;
    padding-top: 40px ;
    padding-bottom: 20px ;
    flex-direction: column;
}

.divBoxFooter
{
    display: flex;
    flex-direction:column ;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 0px;
    margin-bottom: 20px;
}


}